# gradle

.gradle/
build/
out/
classes/
settings.gradle
gradle.properties

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

remappedSrc
run/

# project

models